<p></p>
<div class = "container">
    <h4 class = "pb-2">Checkout Form using Reactive Forms</h4>
<form [formGroup]='checkoutForm' (ngSubmit) = "postData();">
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="inputEmail3"  formControlName="emailAddr">
        <span *ngIf =" checkoutForm.get('emailAddr').touched && checkoutForm.get('emailAddr').hasError('required')">Enter Email Address</span>
        <span *ngIf =" checkoutForm.get('emailAddr').touched && checkoutForm.get('emailAddr').hasError('email')">Enter a Valid Email Addredd</span>
    </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Quantity</label>
      <div class="col-sm-10">
        <input type="Text" class="form-control" id="inputPassword3" formControlName="quantity">
        <span *ngIf =" checkoutForm.get('quantity').touched && checkoutForm.get('quantity').hasError('required')">Enter Quantity</span>
        
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck1" formControlName="terms">
          <label class="form-check-label" for="gridCheck1">
            Agree to Terms
          </label>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="!checkoutForm.valid">Checkout</button>
      </div>
    </div>
  </form>
</div>